<%- include('../partials/header') %>
    <h1>All Beers </h1>
    <a href="./new"><h4 class="add">Add a new beer </h4></a>

    <% beers.forEach(function(beer){ %>
        <a href="/beers/<%= beer._id%>/">
            <div>
                <h3><%= beer.name %></h3>
                <p>Style: <%= beer.style%></p>
            </div>
        </a>
    <% }); %>

<%- include('../partials/footer') %>