<%- include('../partials/header') %>
    <h1>All Beers </h1>
    <h4>Add a new beer <a href="./new">HERE</a> </h4>

    <% beers.forEach(function(beer){ %>
        <a href="/beers/<%= beer._id%>/">
            <div>
                <h3><%= beer.name %></h3>
                <p>Style: <%= beer.style%></p>
            </div>
        </a>
    <% }); %>

<%- include('../partials/footer') %>