<%- include('../partials/header') %>
    
    <h1><%= beer.name %></h1>
    
    <form action="/beers/<%=beer._id%>?_method=DELETE" method="POST" >
        <button  type="submit">Delete Beer</button>
    </form>

    <h3>Currently being served at:</h3>

    <% beer.bars.forEach(function(bar){ %>
        <a href="/bars/<%= bar._id %>"><p><%= bar.name %></p></a> 
    <% }); %>

    <h4>Comments</h4>

    <div>
        <ul>
        <% beer.comments.forEach(function(comment){ %>
            <li>
                <p> <%= comment.content %></p>
                <p><%= comment._id.getTimestamp() %></p>
                <br>
            </li>
        <% }) %>
        </ul>
    </div>

    <form method='POST' action="/beers/<%= beer._id %>/comments">
        <input type="text" name="comment">
        <button type="submit">Add Comment</button>
    </form>




<%- include('../partials/footer') %>