<%- include('../partials/header') %>
    <h1>All Bars</h1>
    <h4>Add a new bar <a href="./new">HERE</a> </h4>

    <% bars.forEach(function(bar){ %>
        <a href="/bars/<%=bar._id%>/">
            <div>
                <h3><%= bar.name %></h3>
                <p>Location: <%= bar.location%></p>
            </div>
        </a> 
    <% }); %>

<%- include('../partials/footer') %>