<%- include('../partials/header') %>
    <h1>All Bars</h1>
    <a href="./new"><h4 class="add">Add a new bar</h4></a>

    <% bars.forEach(function(bar){ %>
        <a href="/bars/<%=bar._id%>/">
            <div>
                <h3><%= bar.name %></h3>
                <p>Location: <%= bar.location%></p>
            </div>
        </a> 
    <% }); %>

<%- include('../partials/footer') %>