<%- include('../partials/header') %>

    <h1><%= bar.name %></h1>
    <h3><%= bar.location %></h3>
    <form method="POST" action="/bars/<%= bar._id %>?_method=DELETE">
        <button type="submit">Delete Bar</button>
    </form>

    <div>
    <h3>Available Beers:</h3>
        <br>
    <% bar.beers.forEach(function(beer){ %>
        <p><a href="../beers/<%= beer._id %>"> <%= beer.name %></a> 
            <a href="/bars/<%= bar._id%>/beers/<%= beer._id%>/remove">
                <button type="submit">X</button>
            </a>
        </p>
    <% }); %>
    </div>

    <label>Add a beer to this bar</label>
    <form action="/bars/<%= bar._id%>/beers" method="POST">
        <select name="beer">
            <% beers.forEach(function(beer) { %>
                <option value="<%= beer._id %>"> <%= beer.name %>  </option>
            <% }); %>
        </select>
        <input type="submit" value="Add">
    </form>

<%- include('../partials/footer') %>